<div adf-id="{{column.cid}}" class="dashboardPlaceholder column {{column.styleClass}}" ng-class="{'widgets-warning': options.singleWidgetMode && column.widgets.length > 1, 'full-screen': columnState.isExpanded }" ng-model="column.widgets" ng-hide="columnState.isHidden">

  <div ng-sortable="sortableConfig" class="adf-widgets" adf-id="{{column.cid}}" ng-class="{'adf-nested':column.rows, 'disable-put': editMode && !sortableConfig.group.put}">
    <adf-widget ng-repeat="definition in column.widgets track by definition.wid"
                definition="definition"
                column="column"
                edit-mode="editMode"
                options="options"
                widget-state="widgetState"
                column-state="columnState"
      />
  </div>

  <div ng-if="editMode && (!options.singleWidgetMode || !column.widgets.length) && !column.rows" class="text-center js-remove" ng-class="{'empty-placeholder': options.singleWidgetMode && !column.widgets.length}">
    <a href="" title="add new widget" ng-click="addWidgetDialog()">
      <i class="fa fa-plus fa-5x"></i>
      <p>Add widget</p>
    </a>
  </div>

  <!-- If present, a new row will be injected here -->
</div>
