<div class="panel-title">

  <div class="status-bar-widget" ng-if="widget.statusBar">
    <adf-widget-content class="status-bar-widget-content" model="definition" content="widget.statusBar" widget-shared-data="widgetSharedData"/>
  </div>

  <div class="widget-actions pull-right">

    <div class="pull-right">

      <!-- widget filters -->
      <button class="btn btn-link" title="filter widget data" ng-disabled="editMode || widgetSharedData.layoutEditMode" ng-click="widgetState.showFilters = !widgetState.showFilters" ng-if="widget.filter">
        <i class="fa fa-filter"></i>
      </button>

      <!-- widget fullscreen -->
      <button class="btn btn-link" title="Minimize/Maximize" ng-click="toggleWidgetFullscreen()" ng-show="options.maximizable">
        <i class="fa" ng-class="columnState.isExpanded ? 'fa-compress' : 'fa-expand'"></i>
      </button>

      <!-- remove widget -->
      <button class="btn btn-link" title="remove widget" ng-click="remove()" ng-if="editMode">
        <i class="fa fa-times"></i>
      </button>

    </div>

    <div ng-if="widget.headerActions" class="pull-right">
      <adf-widget-content model="definition" content="widget.headerActions" widget-shared-data="widgetSharedData"/>
    </div>

    <div class="clear"></div>
  </div>

  <div class="clear"></div>
</div>
